body {
background-color: #f1f1f1;
}
.inline {
cursor:pointer;
color:#951936;
text-decoration:none;
border-bottom:dotted #951936 1px;
font-size:110%;
}
#access {
background: #000;
width: 100%;
}
#access a {
color: #aaa;
display: block;
line-height: 38px;
padding: 0 10px;
text-decoration: none;
}
#access a:hover, #access a:active, #access a:focus {
color: #fff;
}
.menu {
font-size: 13px;
margin-left: 12px;
width: 928px;
font-family: verdana, helvetica, arial, sans;
font-size: 105%;
}
ul {
list-style: disc;
margin: 0;
}
li {
display: inline-block;
position: relative;
}
h1.site-title a, h1.site-title a:hover, h1.site-title a:visited {
	text-decoration: none;
	color: #951936;
}
#wrapper {
background: #fff;
margin-top: 20px;
padding: 0 20px;
margin: 0 auto;
width: 940px;
}
#home {
	
}
.invisible {
clip: rect(1px, 1px, 1px, 1px);
overflow: hidden;
position: absolute !important;
height: 1px;
width: 1px;
left: -1000em;
}
h2.title {
margin-top: 14px;
clear: both;
}