body {
background-color: #f1f1f1;
line-height: 1.35;
font-family: verdana, helvetica, arial, sans;
font-size: 100%;
}
.inline {
cursor:pointer;
color:#951936;
text-decoration:none;
border-bottom:dotted #951936 1px;
}
#access {
background: #000;
width: 100%;
margin-bottom: 28px;
}
#access a {
color: #aaa;
display: block;
line-height: 38px;
padding: 0 10px;
text-decoration: none;
}
#access a:hover, #access a:active, #access a:focus {
color: #fff;
}
.menu {
font-size: 13px;
margin-left: 12px;
width: 928px;
font-family: verdana, helvetica, arial, sans;
font-size: 105%;
}
ul {
list-style: disc!important;
margin: 0;
}
li {
	line-height: 1.5;
}
.menu li {
display: inline-block;
position: relative;
line-height: 1.5;
}

h1#site-title a, h1#site-title a:hover, h1#site-title a:visited {
	margin-top: 10px;
	text-decoration: none;
	color: #951936;
}
.intro {
	margin-top: 28px auto 42px auto;
	padding-bottom: 21px;
}
tr.odd {
	background-color: #f1efe7;
}
td {
	padding: 7px;
}
#wrapper {
background: #fff;
margin-top: 20px;
padding: 0 20px;
margin: 0 auto;
width: 940px;
}
#home {
	width: 77%;
	margin:auto;
}
.invisible {
clip: rect(1px, 1px, 1px, 1px);
overflow: hidden;
position: absolute !important;
height: 1px;
width: 1px;
left: -1000em;
}
h2 {
	color: #951936;
}
#jump {
	color:#b7b29c;
	margin-bottom:35px;
	text-align:center;
	border-bottom:solid #e6e3d7 1px;
	font-size:smaller;
	padding:4px;
}
#jump a {
	color:black;font-family: verdana, helvetica, arial, sans;
}
#dbs a {
	color: #951936;
}
.entry {
	margin-bottom:14px;
}
.entry a {
	color: #951936;
}
.borderBottom {
	width:95%;
	margin: 7px 2.5%;
	border-bottom:solid #ccc 1px;
	background-color:transparent;
	padding:4px;
}
.spacer {
	height: 42px;
}
.accessnote {
	font-family:verdana, helvetica, arial, sans;
	font-size:smaller;
}